<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.StudenttabMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.domain.Studenttab" >
    <id column="sid" property="sid" jdbcType="INTEGER" />
    <result column="sname" property="sname" jdbcType="VARCHAR" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="sdate" property="sdate" jdbcType="VARCHAR" />
    <result column="ssfz" property="ssfz" jdbcType="VARCHAR" />
    <result column="sphone" property="sphone" jdbcType="VARCHAR" />
    <result column="semail" property="semail" jdbcType="VARCHAR" />
    <result column="sadress" property="sadress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sid, sname, cid, sex, sdate, ssfz, sphone, semail, sadress
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.demo.domain.StudenttabExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from studenttab
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from studenttab
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from studenttab
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.domain.StudenttabExample" >
    delete from studenttab
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.domain.Studenttab" >
    insert into studenttab (sid, sname, cid, 
      sex, sdate, ssfz, sphone, 
      semail, sadress)
    values (#{sid,jdbcType=INTEGER}, #{sname,jdbcType=VARCHAR}, #{cid,jdbcType=INTEGER}, 
      #{sex,jdbcType=VARCHAR}, #{sdate,jdbcType=VARCHAR}, #{ssfz,jdbcType=VARCHAR}, #{sphone,jdbcType=VARCHAR}, 
      #{semail,jdbcType=VARCHAR}, #{sadress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.domain.Studenttab" >
    insert into studenttab
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="sname != null" >
        sname,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="sdate != null" >
        sdate,
      </if>
      <if test="ssfz != null" >
        ssfz,
      </if>
      <if test="sphone != null" >
        sphone,
      </if>
      <if test="semail != null" >
        semail,
      </if>
      <if test="sadress != null" >
        sadress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="sname != null" >
        #{sname,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="sdate != null" >
        #{sdate,jdbcType=VARCHAR},
      </if>
      <if test="ssfz != null" >
        #{ssfz,jdbcType=VARCHAR},
      </if>
      <if test="sphone != null" >
        #{sphone,jdbcType=VARCHAR},
      </if>
      <if test="semail != null" >
        #{semail,jdbcType=VARCHAR},
      </if>
      <if test="sadress != null" >
        #{sadress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.domain.StudenttabExample" resultType="java.lang.Integer" >
    select count(*) from studenttab
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update studenttab
    <set >
      <if test="record.sid != null" >
        sid = #{record.sid,jdbcType=INTEGER},
      </if>
      <if test="record.sname != null" >
        sname = #{record.sname,jdbcType=VARCHAR},
      </if>
      <if test="record.cid != null" >
        cid = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.sdate != null" >
        sdate = #{record.sdate,jdbcType=VARCHAR},
      </if>
      <if test="record.ssfz != null" >
        ssfz = #{record.ssfz,jdbcType=VARCHAR},
      </if>
      <if test="record.sphone != null" >
        sphone = #{record.sphone,jdbcType=VARCHAR},
      </if>
      <if test="record.semail != null" >
        semail = #{record.semail,jdbcType=VARCHAR},
      </if>
      <if test="record.sadress != null" >
        sadress = #{record.sadress,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update studenttab
    set sid = #{record.sid,jdbcType=INTEGER},
      sname = #{record.sname,jdbcType=VARCHAR},
      cid = #{record.cid,jdbcType=INTEGER},
      sex = #{record.sex,jdbcType=VARCHAR},
      sdate = #{record.sdate,jdbcType=VARCHAR},
      ssfz = #{record.ssfz,jdbcType=VARCHAR},
      sphone = #{record.sphone,jdbcType=VARCHAR},
      semail = #{record.semail,jdbcType=VARCHAR},
      sadress = #{record.sadress,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.domain.Studenttab" >
    update studenttab
    <set >
      <if test="sname != null" >
        sname = #{sname,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="sdate != null" >
        sdate = #{sdate,jdbcType=VARCHAR},
      </if>
      <if test="ssfz != null" >
        ssfz = #{ssfz,jdbcType=VARCHAR},
      </if>
      <if test="sphone != null" >
        sphone = #{sphone,jdbcType=VARCHAR},
      </if>
      <if test="semail != null" >
        semail = #{semail,jdbcType=VARCHAR},
      </if>
      <if test="sadress != null" >
        sadress = #{sadress,jdbcType=VARCHAR},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.domain.Studenttab" >
    update studenttab
    set sname = #{sname,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=INTEGER},
      sex = #{sex,jdbcType=VARCHAR},
      sdate = #{sdate,jdbcType=VARCHAR},
      ssfz = #{ssfz,jdbcType=VARCHAR},
      sphone = #{sphone,jdbcType=VARCHAR},
      semail = #{semail,jdbcType=VARCHAR},
      sadress = #{sadress,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
</mapper>